:root {
    --bg-btn: #f0f0f0;
    --border-btn: solid 1px #888;
}

.btn {
    font-size: 1.4em;
    background-color: var(--bg-btn);
    border: none;
    border-right: var(--border-btn);
    border-bottom: var(--border-btn);
    outline: none;
}

.btn:active {
    background-color: #ccc;
}

.btn.double {
    grid-column: span 2;
}

.btn.triple {
    grid-column: span 3;
}

.btn.operation {
    background-color: #3aad05;
    color: white;
}

.btn.operation:active {
    background-color: #2a7d04;
}